a { text-decoration: none; }
a:hover,
a:active {
    border-bottom: 1px solid;
}

.navbar a:hover,
.navbar a:active {
    border-bottom: none;
}

table.quickinfo td { width: calc( 100% / 3 ); }
div.device {
    height: 550px;
    grid-template-rows: 18% 35% auto;
}
