{% extends 'index.html' %}

{% block content %}
{% for device in display %}
<div class="col{% if display|length >= 3%}-xl-4{% endif %} device d-grid p-4 pt-2 mb-4 border-start border-end border-white" id="{{ device.get('id') }}">
    <div>
        {% if device.get("status") %}
        <h2 class="text-center">
            <a href="{{ url_for('get_devicedetail', device_id=device.get('id')) }}" class="link-dark">
                {{device["name"]}}
            </a>
        </h2>
        <h4 class="text-center">
            <a href="{{ url_for('get_devicedetail', device_id=device.get('id')) }}" class="link-secondary">
                {{device["id"]}}
            </a>
        </h4>
        {% else %}
        <h2>Error fetching device data</h2>
        {% endif %}
    </div>
    <div class="align-self-start"> 
        {% if device.get("measure") %}
        <table class="table table-striped table-hover table-responsive table-bordered quickinfo">
            <tr>
                <td>Temperature: </td>
                <td>Humidity: </td>
                <td>Atmospheric pressure: </td>
            </tr>
            <tr>
                <td>{{ device["measure"].get("temperature")}} °C</td>
                <td>{{ device["measure"].get("humidity")}} %</td>
                <td>{{ device["measure"].get("pressure")}} hPa</td>
            </tr>
        </table>
        <p id="mes_time{{device['id']}}">On {{ device["measure"].get("time") }}</p>
        <script>
            const mestime{{ device['id'] }} = new Date( {{ device["measure"].get("time") }} * 1000)
            document.getElementById("mes_time{{device['id']}}").textContent = "On " + mestime{{ device['id'] }}.toLocaleString()
        </script>
        <br />
        {% else %}
        <h3>No measurement received yet...</h3>
        {% endif %}
    </div>
    <div class="align-self-end"> 
        {% if device.get("status") %}
        <h4 class="mt-5">Last status:</h5>
        <table class="table table-striped table-hover table-responsive table-bordered quickinfo">
            <tr>
                <td>Chip temperature: </td>
                <td>Voltage: </td>
                <td>RSSI: </td>
            </tr>
            <tr>
                <td>{{ device["status"].get("chiptemp")}} °C</td>
                <td>{{ device["status"].get("voltage")}} mV</td>
                <td>{{ device["status"].get("rssi")}} dB</td>
            </tr>
        </table>
        <p id="stat_time{{device['id']}}">On {{ device["status"].get("time") }}</p>
        <script>
            const stattime{{ device['id'] }} = new Date( {{ device["status"].get("time") }} * 1000)
            document.getElementById("stat_time{{device['id']}}").textContent = "On " + stattime{{ device['id'] }}.toLocaleString()
        </script>
        {% endif %}
    </div>
</div>
{% if not ((display.index(device)+1) % 3) %}
<div class="w-100 d-none d-lg-block"></div>
{% endif %}
{% endfor %}
{% endblock %}
