{% extends 'index.html' %}

{% block charts %}
<link rel="stylesheet" href="{{ url_for('static', filename='devices/graphs.min.css') }}" />
<script src="{{ url_for('static', filename='chartjs/dist/chart.min.js') }}"></script>
<script>
    if ( "{{details.name}}" !== "") {
        document.title = "Pi-Weather - " + "{{details.name}}"
    }
    else {
        document.title = "Pi-Weather - " + "{{id}}"
    }
</script>
{% endblock %}


{% block content %}
<div class="device col-xl p-4 pt-2">
    <h2 class="text-center text-dark">{{ details.name }}</h2>
    <h4 class="text-center text-secondary">{{ id }}</h4>
    <h4>Measurements in the last 24 hours:</h3>
    <div id="measure_errors"></div>
    <div id="measure_charts" class="mb-2 canvas">
        <canvas id="measure_chart1" class="pb-1" aria-label="Temperatures and Humidity" role="img"></canvas>
    </div>
    <div class="mb-2 canvas">
        <canvas id="measure_chart2" class="pb-1" aria-label="Atmospheric pressure" role="img"></canvas>
    </div>

    <script src="{{ url_for('static', filename='devices/graphs_measurements.min.js') }}"></script>
    
    <h4 class="pt-3">Status changes in the last 24 hours:</h3>
    <div id="status_errors"></div>
    <div id="status_charts" class="mb-2 canvas">
        <canvas id="status_chart1" class="pb-1" aria-label="Device temperature and supply voltage" role="img"></canvas>
    </div>
    <div class="mb-2 canvas">
        <canvas id="status_chart2" class="pb-1" aria-label="Device WiFi RSSI" role="img"></canvas>
    </div>
    <script src="{{ url_for('static', filename='devices/graphs_status.min.js') }}"></script>
    <p id="reset_str">Last reset due to {{ details.lastreset }} on {{ details.time }}</p>
    <script>
        const resettime = new Date( {{details.time}} * 1000)
        document.getElementById("reset_str").textContent = "Last reset due to {{ details.lastreset }} on " + resettime.toLocaleString()
    </script>

    <h4 class="pt-3">Current config:</h4>
    <div id="dev-cfg"></div>
    <script src="{{ url_for('static', filename='devices/get_config.min.js') }}"></script>
</div>
{% endblock %}
