{% extends 'index.html' %}

{% block content %}
<script>document.title = "Pi-Weather - " + "{{ error.name }}"</script>
<div class="error-msg text-center">
    <h1 class="mb-2">{{ error.code }}</h1>
    <h2 class="mb-3">{{ error.name }}</h2>
    <p>{{ error.description }}</p>
</div>
<footer class="fixed-bottom text-center mb-5"><a href="{{ url_for('index') }}">Back to homepage</a></footer>
{% endblock %}
