<!DOCTYPE html>
<html>
<head>
<title>Pi-Weather - Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles.min.css') }}" />
<script>
  const currentTime = new Date()
  const iconLink = document.createElement("link")
  iconLink.rel = "icon"
  iconLink.type = "image/svg+xml"
  iconLink.href = (currentTime.getHours() < 20 && currentTime.getHours() > 8) ? "{{ url_for('static', filename='icons/sun_icon.svg') }}" : "{{ url_for('static', filename='icons/moon-stars_icon.svg') }}"

  document.getElementsByTagName("head")[0].append(iconLink)
</script>
{% block charts %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-light">
<section class="content container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow">
    <div class="container-fluid pb-2">
      <a id="home" class="navbar-brand fs-1" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='icons/sun_icon.svg') }}" alt="" class="d-inline-block align-text-top" height="50" aria-label="Dashboard icon"/>
        Dashboard
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link" id="homeNavbar">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/devices" id="deviceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Devices
            </a>
            <ul class="dropdown-menu" id="devDropdownList" aria-labelledby="deviceDropdown">
            </ul>
        </li>
        {% if g.user %}
        {% if "all" in g.user.get("permissions") or "manage_users" in g.user.get("permissions") %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.user_manager') }}">User management</a>
        </li>
        {% endif %}
        {% endif %}
        {% block customPageNav %}{% endblock %}
        </ul>
        <span class="d-lg-flex pe-lg-3 navbar-nav">
          {% if g.user %}
          <a class="nav-link" href="{{ url_for('auth.profile', username=g.user.get('username'))}}">{{g.user.get("username")}}</a><span class="navbar-text"> | </span><a class="nav-link" href="#" onclick="postLogout()">Logout</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('auth.login') }}" class="nav-link">Login</a><span class="d-none d-lg-inline navbar-text"> | </span><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>
  <div class="mt-2">
  {% for category, message in get_flashed_messages(with_categories=true) %}
  {% if category == "info"%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% elif category == "warning"%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% elif category == "error"%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% else %}  
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  {% endfor %}
  </div>
  <div class="row">
  {% block content %}{% endblock %}
  </div>
</section>
<script src="{{ url_for('static', filename='basics.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>