{% extends 'index.html' %}

{% block content %}
<div class="col pt-2">
    <h2>Login</h2>
    <form id="loginForm" class="py-3" action="{{ url_for('auth.login') }}" method="post">
        <div class="mb-1">
            <label class="form-label" for="username">Username</label><input class="form-control" type="text" name="username" id="username" required>
        </div>
        <div class="pb-2">
            <label class="form-label" for="password">Password</label><input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button class="form-control btn-outline-primary mt-3" type="submit">Login</button>
    </form>
    <p>
        Or <a href="{{ url_for('auth.register') }}">register a new account</a>
    </p>
</div>
{% endblock %}
