{% extends 'index.html' %}

{% block content %}
<div class="col pt-2">
    <h2>User management</h2>
    <div class="usertable container-fluid pt-2">
        <div class="row">
            <div class="col fw-bold">Username</div>
            <div class="col">{# Delete button will go here #}</div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2 fw-bold">Permissions:</div>
                    <div class="col-2 fw-bold">Admin</div>
                    <div class="col-2 fw-bold">Manage users</div>
                    <div class="col-2 fw-bold">Send downlinks</div>
                    <div class="col-2 fw-bold">Real access</div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        {% for managed in tomanage %}
        <div class="row pb-1">
            <div class="col"><a href="{{ url_for('auth.profile', username=managed.get('username')) }}">{{ managed.get('username') }}{# Button for expanding permissions per user instead of breaking? #}</a></div>
            <div class="col">{% if ('all' in g.user["permissions"] and not 'all' in managed.get('permissions')) or g.user["username"] == managed.get('username') %}<button class="btn btn-sm btn-danger" id="delete-{{ managed.get('username') }}" onclick="deleteUser(this)">Delete user</button>{% endif %}</div>
            <div class="col-6 userperms">
            {% if 'all' in managed.get('permissions') %}
                <form class="row">
                    <div class="col-2"></div>
                    <div class="col-2"><input class="form-check-input" type="checkbox" name="all" checked disabled></div>
                    <div class="col-2"><input class="form-check-input" type="checkbox" name="manage_users" checked disabled></div>
                    <div class="col-2"><input class="form-check-input" type="checkbox" name="send_downlinks" checked disabled></div>
                    <div class="col-2"><input class="form-check-input" type="checkbox" name="acitve" checked disabled></div>
                    <div class="col-2">
                        <div>
                            <button class="btn btn-sm btn-secondary" type="submit" aria-label="Can't edit admins" disabled>Confirm</button>
                            <button class="btn btn-sm btn-secondary" type="reset" aria-label="Can't edit admins" disabled>Reset</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <form class="row" method="post" action="{{ url_for('auth.manage_perms', username=managed.get('username')) }}">
                    <div class="col-2"></div>
                    <div class="col-2"><input class="form-check-input" id="all-{{managed.get('username')}}" type="checkbox" name="all" disabled></div>
                    <div class="col-2"><input class="form-check-input" id="manage-{{managed.get('username')}}" type="checkbox" name="manage_users" {% if "manage_users" in managed.get('permissions') %}checked{% endif %} {% if "all" not in g.user.get('permissions') %}disabled{% endif %}></div>
                    <div class="col-2"><input class="form-check-input" id="send-{{managed.get('username')}}" type="checkbox" name="send_downlinks" {% if "send_downlinks" in managed.get('permissions') %}checked{% endif %}></div>
                    <div class="col-2"><input class="form-check-input" id="active-{{managed.get('username')}}" type="checkbox" name="active" {% if "active" in managed.get('permissions') %}checked{% endif %}></div>
                    <div class="col-2">
                        <div class="sendChanges name-{{managed.get('username')}}" role="group" aria-label="Set or reset this user's permissions">
                            <button class="btn btn-sm btn-primary" id="confirm-{{managed.get('username')}}" type="submit" formaction="{{ url_for('auth.profile', username=managed.get('username')) }}" disabled>Confirm</button>
                            <button class="btn btn-sm btn-danger" id="reset-{{managed.get('username')}}" type="reset" disabled>Reset</button>
                        </div>
                    </div>
                </form>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='manage.min.js') }}"></script>
{% endblock %}
