{% extends 'index.html' %}

{% block content %}
<div class="col pt-2">
    <h2>Register an account</h2>
    <form id="registrationForm" class="pt-3" action="{{ url_for('auth.register') }}" method="post">
        <div class="mb-1">
            <label class="form-label" for="username">Username</label><input class="form-control" type="text" name="username" id="username" required>
        </div>
        <div class="pb-2">
            <label class="form-label" for="password">Password</label><input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button class="form-control btn-outline-success mt-3" type="submit">Register your account</button>
    </form>
</div>
{% endblock %}
